.menu{
    background-color: white;
    background-image: none;
    min-height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 150px;
}

.menu p {
    font-size: 1.5rem;
    font-family: roboto;
}

.icon{
    width: 30px;
    height: 30px;
}